
<!DOCTYPE html>
<html>
  <%include ./elements/headerLinks%>
<body>
    <div id="wrapper">
      <%include ./elements/header%>
      <%- locals.flash %>
      <%-body%>
  
    </div>
   <%include ./elements/script%>
</body>
</html>